@import "tailwindcss";
@custom-variant dark {
  &:where(.dark, .dark *) {
    @slot;
  }
};
@theme {
  --color-primary: #242424;
  --color-dark: #11001F;
  --color-text: #F3F3F3;

  --font-grotesk: "Space Grotesk", ;
  --font-manrope: "Manrope", ;
}
body {
  font-family: "Space Grotesk", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.input-dark {
  @apply p-4 rounded-lg bg-[#1c1c1c] border border-white/10 text-white outline-none focus:border-secondary;
}
